input {

    max-width: 100%;
    padding-left: 10px;
    padding-right: 12px;
}

.kg-row {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 10px;
    min-width: 80px;

}

button {
    width: 80px;
}